<!DOCTYPE html>
<html ng-app="ambleEditor">
  <head>
    <meta charset="utf-8">
    <title>Amble Editor</title>

    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css" charset="utf-8">

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" charset="utf-8">
    <!-- <link rel="stylesheet" href="../../amble-engine-dependencies/bootstrap/dist/css/bootstrap.min.css" charset="utf-8"> -->

    <!-- jstree -->
    <link rel="stylesheet" href="../bower_components/jstree/dist/themes/default/style.css" charset="utf-8">
    <!-- <link rel="stylesheet" href="../../amble-engine-dependencies/jstree/dist/themes/default/style.css" media="screen" title="no title" charset="utf-8"> -->

    <link rel="stylesheet" type="text/css" href="css/style.css"/>

  </head>
  <body ng-controller="editorController as editor">

    <dynamic-layout
      width="100%"
      height="100%">

      <panel-layout
        id="first"
        layoutwidth="4"
        layoutheight="1.75">

        <scene-view id="scene-view" class="card"></scene-view>

      </panel-layout>

      <panel-layout
        id="second"
        layoutwidth="4"
        layoutheight="1"
        bottomto="first">

        <bottom-view id="debug-console" class="card"></bottom-view>

      </panel-layout>

      <panel-layout
        id="third"
        layoutwidth="1"
        layoutheight="1"
        rightto="first">

        <hierarchy-view id="hierarchy" class="card">

          <div class="card-block">
            <div class="row">
              <div class="col-md-12">
                <div class="input-group">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-toggle="tooltip" title="Add to scene" data-placement="bottom">
                      Add
                    </button>
                    <div class="dropdown-menu">
                      <a href="#" ng-repeat="actor in editor.actorsToAdd" class="dropdown-item" ng-click="editor.addActor(actor)">{{actor.name}}</a>
                    </div>
                  </div>
                  <input class="form-control" type="text" ng-model="editor.hierarchy.search" placeholder="search">
                </div>
              </div>
            </div>
          </div>

          <div class="scroll card-block">

            <div class="list-group" >
              <a href="#" id="id_{{actor.sceneID}}" ng-repeat="actor in editor.actors | filter: { name: editor.hierarchy.search, hideInHierarchy: false} | orderBy:'name'" class="list-group-item list-item" ng-click="editor.actorSelected($event)">{{actor.name}}</a>
            </div>

          </div>

        </hierarchy-view>

      </panel-layout>

      <panel-layout
        id="fourth"
        layoutwidth="2"
        layoutheight="1"
        rightto="third">

        <inspector-view
          id="inspector-view"
          class="card"
          actor="{{editor.actor}}">

        </inspector-view>

      </panel-layout>

    </dynamic-layout>

    <script src="../node_modules/angular/angular.min.js" charset="utf-8"></script>

    <script src="amble.js" charset="utf-8"></script>
    <script src="js/camera.js" charset="utf-8"></script>
    <script src="js/index.js" charset="utf-8"></script>


    <script src="../bower_components/webcomponentsjs/webcomponents.js" charset="utf-8"></script>

    <script src="../bower_components/tether/dist/js/tether.min.js" charset="utf-8"></script>

    <!-- bootstrap-->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
    <!-- <script src="../../../amble-engine-dependencies/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script> -->

    <!-- jstree -->
    <script src="../bower_components/jstree/dist/jstree.min.js" charset="utf-8"></script>
    <!-- <script src="../../../amble-engine-dependencies/jstree/dist/jstree.min.js" charset="utf-8"></script> -->

    <!-- editr-core -->
    <link rel="import" href="editor-core/dynamic-layout.html">
    <link rel="import" href="editor-core/panel-layout.html">

    <!-- elements -->

    <link rel="import" href="elements/class-element.html">
    <link rel="import" href="elements/transform-component.html">
    <link rel="import" href="elements/renderer-component.html">
    <link rel="import" href="elements/camera-component.html">

    <!-- panels -->

    <link rel="import" href="panels/bottom-view.html">

    <link rel="import" href="panels/game-view.html">
    <link rel="import" href="panels/hierarchy-view.html">
    <link rel="import" href="panels/inspector-view.html">
    <link rel="import" href="panels/scene-view.html">

  </body>
</html>
