<!DOCTYPE html>
<html ng-app="builderApp">
  <head>
      <meta charset="utf-8">
      <title>Amble Builder</title>

      <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" charset="utf-8">
      <!-- <link rel="stylesheet" href="../../amble-engine-dependencies/bootstrap/dist/css/bootstrap.min.css" charset="utf-8"> -->

      <link rel="stylesheet" href="css/style.css" charset="utf-8">

  </head>
  <body ng-controller="builderController as builder">

      <div class="container-fluid">

          <!-- game name -->
          <div class="row m-y-2">
              <div class="col-md-12 ">
                  <h1 class="text-xs-center">{{builder.gameTitle}}</h1>
              </div>
          </div>

          <!-- game name input -->
          <div class="row m-b-1">
              <div class="col-md-12">
                  <input class="form-control" type="text" maxlength="50" ng-model="builder.gameTitle" placeholder="Game Title">
              </div>
          </div>

          <!-- author  -->
          <div class="row m-b-1">
              <div class="col-md-12">
                  <input class="form-control" type="text" ng-model="builder.projectAuthor" placeholder="Game Author">
              </div>
          </div>

          <!-- description  -->
          <div class="row m-b-1">
              <div class="col-md-12">
                  <input class="form-control" type="text" ng-model="builder.projectDescription" placeholder="Game Description">
              </div>
          </div>

          <!-- game android id -->
          <div class="row m-b-1">
            <div class="col-md-12">
              <input class="form-control" type="text" ng-model="builder.gameID" placeholder="com.amble.game">
            </div>
          </div>

          <!-- project version id -->
          <div class="row m-b-1">
              <div class="col-md-12">
                  <input class="form-control" type="text" ng-model="builder.projectVersion" placeholder="project version">
              </div>
          </div>

          <!-- build directory -->
          <div class="row m-b-1">
              <div class="col-md-12 ">
                  <div class="input-group">
                      <span class="input-group-btn">
                          <button class="btn btn-primary" type="button" ng-click="builder.directorySelect()">Build directory</button>
                      </span>
                      <input class="form-control" type="text" maxlength="50" ng-model="builder.buildDirectory">
                  </div>
              </div>
          </div>

          <!-- target platform -->
          <div class="row m-b-1">
              <div class="col-md-12 ">
                  <select ng-model="builder.targetPlatform" class="form-control">
                    <option value="web" selected>Web</option>
                    <option value="android">Android</option>
                  </select>
              </div>
          </div>

          <div class="row m-b-1">
              <div class="col-md-6">
                  <button class="btn btn-success" type="button" ng-click="builder.build()">Build</button>
              </div>
          </div>

          <div class="row m-b-1">
              <div class="col-md-12">
                  <h3 class="text-xs-center text-danger" ng-if="builder.errorInfo.type == 'error'">{{builder.errorInfo.message}}</h3>
                  <h3 class="text-xs-center text-success" ng-if="builder.errorInfo.type == 'success'">{{builder.errorInfo.message}}</h3>
              </div>
          </div>

          <!-- platform selection -->
          <!-- loop build properties which depends on platform-->
      </div>

      <script src="../../node_modules/angular/angular.min.js" charset="utf-8"></script>
      <script src="js/index.js" charset="utf-8"></script>

      <script src="../../bower_components/tether/dist/js/tether.min.js" charset="utf-8"></script>

      <!-- bootstrap-->
      <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
      <!-- <script src="../../amble-engine-dependencies/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script> -->

  </body>
</html>
