// @import "src/semantic";

@font-face {
    font-family: Cantarell;
    src: url(../../fonts/Cantarell-Regular.ttf);
}

canvas {
    display: block;
    cursor: default;
}

html, body {
    font-family: Cantarell;
    margin: 0;
    padding: 0;
	width: 100%;
	height: 100%;
}

@mainColor: #424242;
@fontSize: 13px;
@fontColor: #fff;

.no-clickable {
    pointer-events:none;
}

.default {
    background-color: @mainColor;
    -webkit-user-select: none;
    user-select: none;
    color: @fontColor;
}

#project-view {
    .default;
    background-color: darken(@mainColor, 10%);
    position: absolute;
    top: 5%;
    left: 0;
    height: 95%;
    width: 15%;
    overflow: scroll;
}

.list-container {
    display: inline-block;
}

.list {

    margin-left: -15px;
    font-size: @fontSize;

    ul {
        list-style-type: none;
        line-height: 25px;
    }

    ul > li {
        padding-left: 15px;
    }

    li > ul {
        padding-left: 15px;
    }
}

.list-item {
    color: @fontColor;
    list-style-type: none;

    .icon {
        font-size: @fontSize;
        padding-right: 6px;
    }

    .file-icon {
        .icon;
        margin-left: 11px;
    }
    .folder-icon {
        .icon;
    }
    .triangle-icon {
        .icon;
    }

    a {
        color: @fontColor;
        text-decoration: none;
    }
    a:hover {
        color: @fontColor;
    }
    a:active {
        color: @fontColor;
    }
    a:focus {
        color: @fontColor;
    }
    a:visited {
        color: @fontColor;
    }
}

.header {
    background-color: transparent;
    width: 100%;
}

.header-highlighted {
    .header;
    background-color: #676767;
}

#tools {
    .default;
    height: 5%;
}

#scene-view {
    position: absolute;
    top: 5%;
    left: 15%;
    width: 50%;
    height: 55%;
    margin: 0;
    padding: 0;
}

#debug-console {
    .default;
    position: absolute;
    left: 15%;
    top: 60%;
    width: 50%;
    height: 40%;
}

#hierarchy {
    .default;
    position: absolute;
    top: 5%;
    right: 20%;
    height: 95%;
    width: 15%;
}

#inspector-view {
    .default;
    position: absolute;
    right: 0;
    top: 5%;
    height: 65%;
    width: 20%;
}

#preview {
    .default;
    position: absolute;
    right: 0;
    top: 70%;
    height: 30%;
    width: 20%;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: darken(@mainColor, 10%);
}

::-webkit-scrollbar {
	width: 5px;
    height: 5px;

    background-color: darken(@mainColor, 10%);
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: @mainColor;
}

div#project-view:hover::-webkit-scrollbar {
	width: 10px;
    height: 10px;
	background-color: transparent;
}

div#project-view:hover::-webkit-scrollbar-thumb {
	border-radius: 2px;
    background-color: @mainColor;
}
