<!DOCTYPE html>
<html ng-app="launcherApp">
    <head>
        <meta charset="utf-8">
        <title>Amble Engine Launcher</title>

        <!-- <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.min.css" charset="utf-8"> -->
        <link rel="stylesheet" href="../../amble-engine-dependencies/bootstrap/dist/css/bootstrap.min.css" charset="utf-8">

        <link rel="stylesheet" href="css/style.css" charset="utf-8">

    </head>
    <body ng-controller="launcherController as launcher">

        <div class="container-fluid">
            <div class="row m-y-2">
                <div class="col-md-12 ">
                    <h1 class="text-xs-center">{{launcher.projectName}}</h1>
                </div>
            </div>
            <div class="row m-b-1">
                <div class="col-md-12">
                    <input class="form-control" type="text" maxlength="50" ng-model="launcher.projectName" placeholder="New Amble Project">
                </div>
            </div>

            <div class="row m-b-1">
                <div class="col-md-12 ">
                    <div class="input-group">
                        <input class="form-control" type="text" maxlength="50" ng-model="launcher.projectDirectory">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" ng-click="launcher.directorySelect()">Browse</button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row m-b-1">
                <div class="col-md-6 text-xs-right">
                    <button class="btn btn-primary" type="button" ng-click="launcher.openOther()">Other</button>
                    <button class="btn btn-success" type="button" ng-click="launcher.create()">Create</button>
                </div>
            </div>

            <div class="row m-b-1">
                <div class="col-md-12">
                    <h3 class="text-xs-center text-danger">{{launcher.errorInfo}}</h3>
                </div>
            </div>

            <div class="row m-b-1">
                <div class="col-md-12">
                    <h3 class="text-xs-center">Created projects:</h3>
                </div>
            </div>

            <div class="row m-b-1">
                <div class="col-md-12">
                    <div class="list-group" ng-repeat="project in launcher.projects">
                        <a href="#" class="list-group-item" ng-click="launcher.openProject($event, project)">
                            <h3 class="list-group-item-heading">{{project.name}}</h3>
                            <p class="list-group-item-text">{{project.dir}}</p>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <script src="../node_modules/angular/angular.min.js" charset="utf-8"></script>
        <script src="js/index.js" charset="utf-8"></script>

        <script src="../bower_components/tether/dist/js/tether.min.js" charset="utf-8"></script>

        <!-- bootstrap-->
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
        <!-- <script src="../../amble-engine-dependencies/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script> -->
    </body>
</html>
