<!DOCTYPE html>
<html ng-app="ambleEditor">
    <head>
        <meta charset="utf-8">
        <title>editor</title>
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
        <link rel="stylesheet" type="text/css" href="css/font-awesome/css/font-awesome.min.css"/>
        <script src="js/angular.min.js" charset="utf-8"></script>
    </head>
    <body ng-controller="editorController as editor">
        <div id="tools">

            <!-- list? nav?-->
            <!-- <div class="button">
                <a href="#">Button1</a>
            </div>

            <div class="button">
                <a href="#">Button2</a>
            </div>

            <div class="button">
                <a href="#">Button3</a>
            </div>

            <div class="button">
                <a href="#">Button4</a>
            </div> -->

        </div>

        <div id="project-view" class="scroll">
            <div class="list-container">
                <ul id="list" class="list"></ul>
            </div>
        </div>

        <div id="scene-view"></div>

        <div id="debug-console">debug</div>

        <div id="hierarchy">
            <div class="search">
                <input id="hierarchySearch" type="text" ng-model="editor.hierarchy.search" name="name" value="" placeholder="search">
            </div>
            <div class="scroll hierarchy">
                <div class="list-container">
                    <ul id="hierarchy-list" class="list" ng-repeat="actor in editor.actors | filter: { name: editor.hierarchy.search }">

                        <li class="list-item">
                            <a href="#" id="id_{{actor.sceneID}}"class="hierarchy-item" ng-click="editor.actorSelected(actor,$event)">{{actor.name}}</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <div id="inspector-view">
            <div class="scroll inspector" id="inspector-components">

                <div class="inspector-info">
        			<input id="actor-name" type="text" ng-model="editor.actor.name" placeholder="name" name="name">
        		</div>

                <transform-component actor="{{editor.actor}}"></transform-component>
                <renderer-component actor="{{editor.actor}}"></renderer-component>

                <!--  camera -->
                <!--  list of components -->

            </div>
        </div>
        <div id="preview">preview</div>

        <script src="js/index.js" charset="utf-8"></script>
        <script src="bower_components/webcomponentsjs/webcomponents.js" charset="utf-8"></script>
        <link rel="import" href="elements/transform-component.html">
        <link rel="import" href="elements/renderer-component.html">
    </body>
</html>
