<!DOCTYPE html>
<html ng-app="builderApp">
    <head>
        <meta charset="utf-8">
        <title>Amble Builder</title>

    </head>
    <body ng-controller="builderController as builder">

        <!-- project name -->
        <!-- <div>
            {{builder.gameTitle}}
        </div> -->

        <!-- <input type="text" name="name" ng-model="builder.gameTitle" placeholder="Game Title"> -->

        <!-- build dir -->
        <!-- <div>
            <button ng-click="builder.directorySelect()">Build directory</button>
            {{builder.buildDirectory}}
        </div> -->

        <!-- platform selection -->

        <!-- loop build properties which depends on platform-->
        <!-- <div>
            <ul ng-repeat="project in launcher.projects">
                <li>
                    <a href="#" ng-click="launcher.openProject($event, project)">{{project.name}} | {{project.dir}}</a>
                </li>
            </ul>
        </div> -->

        <!-- <button ng-click="builder.build()">Build</button>

        <div>{{builder.errorInfo}}</div> -->

        <script src="../node_modules/angular/angular.min.js" charset="utf-8"></script>
        <script src="js/index.js" charset="utf-8"></script>

    </body>
</html>
